/**
* style rules for sectionOne
**/
.sectionOne__left--text {
    font-size: var(--body);
    font-family: var(--font-2);
    color: var(--color-white-75);
}

.sectionOne__left--btn {
    align-self: start;
}

/**
* style rules for sectionTwo
**/
.sectionTwo {
    display: grid;
    gap: 30px;
    padding: 40px 0;
}

.sectionTwo__content--text {
    font-size: var(--sub);
    font-family: var(--font-2);
}

.sectionTwo__logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sectionTwo__logo img {
    justify-self: center;
    align-self: center;
}

.sectionTwo__btn {
    justify-self: center;
}

/**
* style rules for sectionTwo
**/
.sectionTree__right--text,
.sectionFour__left--text {
    color: var(--color-dark-50);
    font-family: var(--font-2);
    font-size: var(--body);
}

.sectionTree__right--btn,
.sectionFour__left--btn {
    align-self: start;
    margin-top: 20px;

}